@import "tailwindcss";
@import "tw-animate-css";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --swiss-red: #D80018;
  --swiss-beige: #F5F5DC;
  --swiss-dark-beige: #E8E4C9;
  --swiss-mist: #FAF9F0;
  --swiss-ink: #2A2A2A;

  --background: var(--swiss-beige);
  --foreground: var(--swiss-ink);
  --primary: var(--swiss-red);
  --secondary: var(--swiss-dark-beige);

  --radius: 0.4rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #F5F5DC;
  --secondary: #2A2A2A;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html[data-base-ui-scroll-locked] {
    scroll-behavior: auto;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    overscroll-behavior: none;
  }

  ::selection {
    background-color: var(--primary);
    color: white;
  }

  .root {
    isolation: isolate;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
    border-radius: 6px;
  }

  kbd {
    @apply flex size-5 items-center justify-center rounded-[4px] select-none;
    @apply font-sans text-xs uppercase;
    @apply bg-neutral-200 text-neutral-500 dark:bg-neutral-800 dark:text-neutral-300;
    @apply cursor-pointer transition-transform duration-100 active:scale-95;
  }
}