@import "tailwindcss";
@import "tw-animate-css";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --swiss-red: #D80018;
  --swiss-beige: #F5F5DC;
  --swiss-dark-beige: #858173;
  --swiss-mist: #FAF9F0;
  --swiss-ink: #2A2A2A;

  --radius: 0.625rem;

  --background: var(--swiss-mist);
  --foreground: var(--swiss-ink);

  --card: #ffffff;
  --card-foreground: var(--swiss-ink);

  --popover: #ffffff;
  --popover-foreground: var(--swiss-ink);

  --primary: var(--swiss-red);
  --primary-foreground: #ffffff;

  --secondary: var(--swiss-dark-beige);
  --secondary-foreground: #ffffff;

  --muted: #f2f2f2;
  --muted-foreground: #737373;

  --accent: rgba(216, 0, 24, 0.05);
  /* Swiss Red with low opacity */
  --accent-foreground: var(--swiss-red);

  --destructive: oklch(0.577 0.245 27.325);

  --border: rgba(42, 42, 42, 0.1);
  --input: rgba(42, 42, 42, 0.1);

  --ring: var(--swiss-red);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: var(--swiss-mist);
  --sidebar-foreground: var(--swiss-ink);
  --sidebar-primary: var(--swiss-red);
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: rgba(216, 0, 24, 0.05);
  --sidebar-accent-foreground: var(--swiss-red);
  --sidebar-border: rgba(42, 42, 42, 0.1);
  --sidebar-ring: var(--swiss-red);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html[data-base-ui-scroll-locked] {
    scroll-behavior: auto;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    overscroll-behavior: none;
  }

  ::selection {
    background-color: var(--primary);
    color: white;
  }

  .root {
    isolation: isolate;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
    border-radius: 6px;
  }

  kbd {
    @apply flex size-5 items-center justify-center rounded-[4px] select-none;
    @apply font-sans text-xs uppercase;
    @apply bg-neutral-200 text-neutral-500 dark:bg-neutral-800 dark:text-neutral-300;
    @apply cursor-pointer transition-transform duration-100 active:scale-95;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}